.news {
  /* margin-bottom: 30px; */
  background-color: #dce1d7;
  background-size: cover;
  padding: 100px 0;
}
.news .container {
  width: 80%;
  margin: auto;
  z-index: 5;
}
.news_word {
  margin-bottom: 50px;
}
.news_word h2 {
  text-align: center;
  font-size: 40px;
}
.news_line {
  width: 10%;
  height: 4px;
  background-color: blue;
  margin: auto;
  margin-bottom: 80px;
  transition: 0.8s;
}
.news:hover .news_line {
  width: 16%;
}
.news_content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.new {
  position: relative;
  float: left;
  width: 30%;
  background-color: white;
  height: 100%;
}
.new2 {
  margin: 0 5%;
}
.new .mosalah {
  padding: 0 0 15px 20px;
}
.new .icon {
  padding-bottom: 15px;
  padding-left: 20px;
}
.new .icon ul {
  list-style: none;
}
.new .icon ul li {
  display: inline-block;
  font-size: small;
}
.new .icon ul li .mid {
  padding: 0 5px;
}
.new h3 {
  padding: 10px 0 0 15px;
}

.new p {
  padding: 0 0 15px 15px;
  color: rgb(144, 143, 143);
}
.new a {
  text-decoration: none;
  color: rgb(82, 82, 255);
  padding-left: 15px;
}

.new::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.new:hover::after {
  width: 100%;
  height: 100%;
}
.new:hover p {
  color: black;
}
